<template>
  <div id="person-form">
    <form @submit.prevent="handleSubmit">

      <label>Fiorst Name</label>
      <input
        ref="first"
        type="text"
        :class="{ 'has-error': submitting && invalidName }"
        v-model="person.first_name"
        @focus="clearStatus"
        @keypress="clearStatus"
      >
      <label>Last Name</label>
      <input
        ref="first"
        type="text"
        :class="{ 'has-error': submitting && invalidName }"
        v-model="person.last_name"
        @focus="clearStatus"
        @keypress="clearStatus"
      >
      <label>Age</label>
      <input
        ref="first"
        type="text"
        :class="{ 'has-error': submitting && invalidName }"
        v-model="person.age"
        @focus="clearStatus"
        @keypress="clearStatus"
      >
      <label>Favourite Colour</label>
      <input
        ref="first"
        type="text"
        :class="{ 'has-error': submitting && invalidName }"
        v-model="person.favourite_colour"
        @focus="clearStatus"
        @keypress="clearStatus"
      >
      <p
        v-if="error && submitting"
        class="error-message"
      >❗Please fill out all required fields</p>
      <p
        v-if="success"
        class="success-message"
      >✅ person successfully added</p>
      <button>Add Person</button>
    </form>

  </div>
</template>

<script>
export default {
  name: 'person-form',
  data() {
    return {
      error: false,
      submitting: false,
      success: false,
      person: {
        first_name: '',
        last_name: '',
        age: '',
        favourite_colour: '',
      }
    }
  },
  computed: {
    invalidFirstName() {
      return this.person.first_name === ''
    },

    invalidLastName() {
      return this.person.last_name === ''
    },

  },
  methods: {
    handleSubmit() {
      this.clearStatus()
      this.submitting = true

      if (this.invalidFirstName || this.invalidLastName) {
        this.error = true
        return
      }

      this.$emit('add:person', this.person)
      this.$refs.first.focus()
      this.person = {
        first_name: '',
        last_name: '',
        age: '',
        favourite_colour: '',
      }
      this.success = true
      this.error = false
      this.submitting = false
    },

    clearStatus() {
      this.success = false
      this.error = false
    }
  }}
</script>

<style scoped>
form {
  margin-bottom: 2rem;
}

[class*="-message"] {
  font-weight: 500;
}

.error-message {
  color: #d33c40;
}

.success-message {
  color: #32a95d;
}
</style>
