<template>
  <div id="person-table">
    <p
      v-if="persons.length < 1"
      class="empty-table"
    >
      No persons
    </p>
    <table v-else>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Favourite Colour</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          :key="person.id"
          v-for="person in persons"
        >
          <td v-if="editing === person.id">
            <input
              type="text"
              v-model="person.first_name"
            >
          </td>
          <td v-else>{{person.first_name}}</td>
          <td v-if="editing === person.id">
            <input
              type="text"
              v-model="person.last_name"
            >
          </td>
          <td v-else>{{person.last_name}}</td>
          <td v-if="editing === person.id">
            <input
              type="text"
              v-model="person.age"
            >
          </td>
          <td v-else>{{person.age}}</td>
          <td v-if="editing === person.id">
            <input
              type="text"
              v-model="person.favourite_colour"
            >
          </td>
          <td v-else>{{person.favourite_colour}}</td>
          <td v-if="editing === person.id">
            <button @click="editPerson(person)">Save</button>
            <button
              class="muted-button"
              @click="cancelEdit(person)"
            >Cancel</button>
          </td>
          <td v-else>
            <button @click="editMode(person)">Edit</button>
            <button @click="$emit('delete:person', person.id)">Delete</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'person-table',
  props: {
    persons: Array,
  },
  data() {
    return {
      editing: null,
    }
  },
  methods: {
    editMode(person) {
      this.cachedPerson = Object.assign({}, person)
      this.editing = person.id
    },

    cancelEdit(person) {
      Object.assign(person, this.cachedPerson)
      this.editing = null;
    },

    editPerson(person) {
      if (person.first_name === '' || person.last_name === '') return
      this.$emit('edit:person', person.id, person)
      this.editing = null
    }
  }
}
</script>

<style scoped>
button {
  margin: 0 0.5rem 0 0;
}

input {
  margin: 0;
}

.empty-table {
  text-align: center;
}
</style>
