<template>
  <div id="upload-form">
    <form method="post" action="http://localhost:8000/v1/embl/upload" 
      target="_blank" enctype="multipart/form-data">
      <input type="file" name="file" id="fileToUpload">
      <input type="submit" value="Upload" name="submit">
    </form>
  </div>
</template>

<script>
export default {
  name: 'upload-form',
  data() {
    return {
      error: false,
      submitting: false,
      success: false,
    }
  },
  computed: {

  },
  methods: {
    handleSubmit() {
      this.clearStatus()
      this.submitting = true
      this.$emit('upload:file', this.file)
      this.file = file
      this.$refs.first.focus()
      this.success = true
      this.error = false
      this.submitting = false
    },

    clearStatus() {
      this.success = false
      this.error = false
    }
  }}
</script>

<style scoped>
form {
  margin-bottom: 2rem;
}

[class*="-message"] {
  font-weight: 500;
}

.error-message {
  color: #d33c40;
}

.success-message {
  color: #32a95d;
}
</style>
