<template>
  <div
    id="app"
    class="small-container"
  >
    <h1>Persons</h1>
    <person-form @add:person="addPerson" />
    <h5>Upload Data by File</h5>
    <upload-form @upload:file="uploadFile" />
    <h5>API Documentation</h5>
    <a href="http://localhost:8000/swagger-ui.html" target="_blank">API Documentation (swagger-ui)</a>
    <h5>Person List</h5>
    <person-table
      :persons="persons"
      @delete:person="deletePerson"
      @edit:person="editPerson"
    />

  </div>
</template>

<script>
import uploadForm from '@/components/UploadForm.vue'
import personTable from '@/components/PersonTable.vue'
import personForm from '@/components/PersonForm.vue'

export default {
  name: "app",
  components: {
    uploadForm,
    personTable,
    personForm,
  },
  data() {
    return {
      persons: []
    }
  },

  mounted() {
    this.getPersons()
  },

  methods: {
    async getPersons() {
      try {
        const response = await fetch('http://localhost:8000/v1/embl/persons')
        const data = await response.json()
        this.persons = data
      } catch (error) {
        console.error(error)
      }
    },

    async addPerson(person) {
      try {
        const response = await fetch('http://localhost:8000/v1/embl/persons', {
          method: 'POST',
          body: JSON.stringify(person),
          headers: { 
            "Content-type": "application/json; charset=UTF-8",
            "Access-Control-Allow-Origin": "*"
          }
        })
        const data = await response.json()
        this.persons = [...this.persons, data]
      } catch (error) {
        console.error(error)
      }
    },

    async editPerson(id, updatedperson) {
      try {
        const response = await fetch(`http://localhost:8000/v1/embl/persons`, {
          method: 'PUT',
          body: JSON.stringify(updatedperson),
          headers: { 
            "Content-type": "application/json; charset=UTF-8",
            "Access-Control-Allow-Origin": "*" 
          }
        })
        const data = await response.json()
        this.persons = this.persons.map(person => person.id === id ? data : person)
      } catch (error) {
        console.error(error)
      }
    },

    async deletePerson(id) {
      try {
        await fetch(`http://localhost:8000/v1/embl/persons/${id}`, {
          method: 'DELETE'
        })
        this.persons = this.persons.filter(person => person.id !== id)
      } catch (error) {
        console.error(error)
      }
    },

  },
}
</script>

<style>
button {
  background: #009435;
  border: 1px solid #009435;
}

button:hover,
button:active,
button:focus {
  background: #32a95d;
  border: 1px solid #32a95d;
}

.small-container {
  max-width: 680px;
}
</style>
